<?xml version="1.0"?>
<model>
  <name>tello_con_espejo</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Opyntorr</name>
    <email>omarpayant@gmail.com</email>
  </author>
  <description>
    Dron Tello con un espejo a 45 grados para vista cenital simulada.
  </description>
</model>
