<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="wheel_radius" value="0.0325" />
  <xacro:property name="wheel_separation" value="0.169" />
  <xacro:property name="wheel_width" value="0.03040" />
  <xacro:property name="wheel_mass" value="0.15" />
  <xacro:property name="roller_mass" value="0.02" />
  <xacro:property name="roller_radius" value="0.0065" />
  <xacro:property name="wheel_xoff" value="0.08" />
  <xacro:property name="wheel_yoff" value="-0.01" />

  <xacro:macro name="mecanum_roller" params="prefix side index theta alpha">
    <link name="${prefix}${side}_roller_${index}_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="${roller_radius}"/>
        </geometry>
        <max_contacts>2</max_contacts>
      </collision>
      <inertial>
        <mass value="${roller_mass}"/>
        <inertia ixx="${2.0/5.0 * roller_mass * roller_radius * roller_radius}" ixy="0" ixz="0"
                 iyy="${2.0/5.0 * roller_mass * roller_radius * roller_radius}" iyz="0"
                 izz="${2.0/5.0 * roller_mass * roller_radius * roller_radius}"/>
      </inertial>
    </link>

    <joint name="${prefix}${side}_roller_${index}_joint" type="continuous">
      <parent link="${prefix}${side}_wheel_link"/>
      <child link="${prefix}${side}_roller_${index}_link"/>
      <axis xyz="${sin(alpha)} ${cos(alpha)} 0"/>
      <origin xyz="${(wheel_radius - roller_radius)*sin(theta)} 0 ${(wheel_radius - roller_radius)*cos(theta)}" rpy="0 ${theta} 0"/>
      <dynamics damping="0.001" friction="0.001"/>
    </joint>

    <gazebo reference="${prefix}${side}_roller_${index}_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>10000.0</kp>
      <kd>10.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
      <self_collide>false</self_collide>
      <max_contacts>2</max_contacts>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="mecanum_wheel" params="prefix side x_reflect y_reflect">
    <link name="${prefix}${side}_wheel_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <mesh filename="file://$(find yahboom_rosmaster_description)/meshes/rosmaster_x3/visual/${side}_wheel_X3.STL"/>
        </geometry>
        <material name="dark_gray">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}" ixy="0" ixz="0"
          iyy="${(wheel_mass/2.0) * (wheel_radius*wheel_radius)}" iyz="0"
          izz="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}"/>
      </inertial>
    </link>

    <joint name="${prefix}${side}_wheel_joint" type="continuous">
      <axis xyz="0 1 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}${side}_wheel_link"/>
      <origin xyz="${x_reflect*wheel_xoff} ${y_reflect*(wheel_separation/2+wheel_yoff)} ${-wheel_radius}" rpy="0 0 0"/>
      <dynamics damping="0.2" friction="0.1"/>
    </joint>

    <gazebo reference="${prefix}${side}_wheel_link">
      <visual>
          <material>
              <ambient>0.2 0.2 0.2 1.0</ambient>
              <diffuse>0.2 0.2 0.2 1.0</diffuse>
          </material>
      </visual>
      <self_collide>false</self_collide>
    </gazebo>

    <xacro:property name="alpha" value="${(x_reflect * y_reflect) * (pi / 4)}" />

    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="0" theta="0.0" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="1" theta="${pi/6}" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="2" theta="${2*pi/6}" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="3" theta="${3*pi/6}" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="4" theta="${4*pi/6}" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="5" theta="${5*pi/6}" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="6" theta="${6*pi/6}" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="7" theta="${7*pi/6}" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="8" theta="${8*pi/6}" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="9" theta="${9*pi/6}" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="10" theta="${10*pi/6}" alpha="${alpha}" />
    <xacro:mecanum_roller prefix="${prefix}" side="${side}" index="11" theta="${11*pi/6}" alpha="${alpha}" />

  </xacro:macro>
</robot>
